.block-wrap-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.slider {
  max-width: 60rem;
  height: auto;
  background: #25282A;
  border-top: 2.5rem solid #25282A;
  border-left: 2.5rem solid #25282A;
  border-right: 2.5rem solid #25282A;
  border-bottom: 3rem solid #25282A;
  border-radius: 1rem;
  overflow: hidden;
}

.hidden-radio {
  display: none;
}

.tape-images {
  display: flex;
  width: 500%;
  height: 100%;
  border-radius: 1rem;
}

.box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  background: #010101;
  border-radius: 1rem;
  transition: .3s;
  overflow: hidden;
}

.slider-image {
  max-width: 100%;
  height: auto;
}

.wrapper-block-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.text-visible-window {
  max-width: 50%;
  height: auto;
  overflow: hidden;
  /* outline: 1px solid red; */
}

.text-tape {
  width: 500%;
  height: 100%;
  display: flex;
}

.text {
  display: block;
  width: 20%;
  font: 400 1.8rem/1.8rem 'Roboto';
  color: #fff;
  transition: .2s;
}

.slider__block-nav {
  display: flex;
  gap: 0 0.5rem;
}

.nav__btn-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.nav__button {
  width: 1rem;
  height: 1rem;
  background: #79A9EF;
  border-radius: 50%;
  transition: .2s;
}

.nav__btn-field:hover .nav__button {
  background-color: #FFF;
}

#rs1:checked ~ .tape-images .rs1,
#rs1:checked ~ .wrapper-block-control .text-visible-window .text-tape .rs2 {
  margin-left: 0;
}

#rs2:checked ~ .tape-images .rs1,
#rs2:checked ~ .wrapper-block-control .text-visible-window .text-tape .rs2 {
  margin-left: -20%;
}

#rs3:checked ~ .tape-images .rs1,
#rs3:checked ~ .wrapper-block-control .text-visible-window .text-tape .rs2 {
  margin-left: -40%;
}

#rs4:checked ~ .tape-images .rs1,
#rs4:checked ~ .wrapper-block-control .text-visible-window .text-tape .rs2 {
  margin-left: -60%;
}

#rs5:checked ~ .tape-images .rs1,
#rs5:checked ~ .wrapper-block-control .text-visible-window .text-tape .rs2 {
  margin-left: -80%;
}

#rs1:checked ~ .wrapper-block-control .slider__block-nav .btn1 .nav__button,
#rs2:checked ~ .wrapper-block-control .slider__block-nav .btn2 .nav__button,
#rs3:checked ~ .wrapper-block-control .slider__block-nav .btn3 .nav__button,
#rs4:checked ~ .wrapper-block-control .slider__block-nav .btn4 .nav__button,
#rs5:checked ~ .wrapper-block-control .slider__block-nav .btn5 .nav__button {
  background: transparent;
  border: 0.1rem solid #79A9EF;
}

#rs1:checked ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs2:checked ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs3:checked ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs4:checked ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs5:checked ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button {
  border-color: #FFF;
}

#rs1:active ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs2:active ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs3:active ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs4:active ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button,
#rs5:active ~ .wrapper-block-control .slider__block-nav .nav__btn-field:hover .nav__button {
  background: #D8D7D7;
  border: 0.1rem solid #79A9EF;
}

@media (max-width: 600px) {
  .wrapper-block-control {
    flex-direction: column-reverse;
    gap: 2rem 0;
  }

  .text-visible-window {
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .text {
    font: 400 1.6rem/1.6rem 'Roboto';
  }
}

@media (max-width: 480px) {
  .text {
    font: 400 1.4rem/1.4rem 'Roboto';
    text-align: center;
  }
}